# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
    'atom-workspace': [
        {
            'label': 'Open Twitter Timeline Tab'
            'command': 'twitter-reader:show'
        }
    ]
'menu': [
    {
        'label': 'Packages'
        'submenu': [
            'label': 'Twitter reader'
            'submenu': [
                {
                    'label': 'Open Twitter Timeline Tab'
                    'command': 'twitter-reader:show'
                }
            ]
        ]
    }
]
